body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
main{
    width: 100%;
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
